<a href="https://colab.research.google.com/github/imad-ul-haque/Pixel-Pioneers_008/blob/main/Present%20Data%20Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Importing Important Packages

In [ ]:
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import google.colab.files as files # or you could just from google.colab import files

### Documentation

##### Functions

In [ ]:
def convert_ratio(x):
  try:
    percentage = round(float(x) * 100, 2) # this would apply to 0 too, but would return 0 itself
    return percentage
  except ValueError:
    return x

In [ ]:
def replace_symbol(x):
  x = str(x)
  if '%' in str(x):
    x = x.replace('%', '').replace(' ', '')
    return x
  else:
    return x

In [ ]:
def not_numeric(x):
  try:
    float(x)
    return False
  except ValueError:
    return True

In [ ]:
def replacecomma(x):
  if type(x) == str:
    x = x.replace(',', '').replace('RU', '0')
    return x
  else:
    return x

##### Cleaning Electors

In [ ]:
t22['electors'] = t22['electors'].str.replace('Electors:', '').str.replace(' ', '').str.replace(',', '')
t22['electors'] = pd.to_numeric(t22['electors'])
t22['electors'].value_counts()

electors
1258601    2
1153363    2
1848155    2
1531469    2
1441302    2
          ..
1761415    1
1530139    1
1400531    1
1124305    1
1641410    1
Name: count, Length: 2134, dtype: int64

In [ ]:
t2009[t2009['votes_polled'].apply(not_numeric)].value_counts()
t2009['votes_polled'] = t2009['votes_polled'].str.replace("Total Votes Polled: ", "").str.replace(',', '')
t2009['votes_polled'].value_counts()

<ipython-input-492-bf042c36b947>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t2009['votes_polled'] = t2009['votes_polled'].str.replace("Total Votes Polled: ", "").str.replace(',', '')

votes_polled
863248 (76.3%)     1
707303 (44.1%)     1
755714 (43.5%)     1
643784 (53.8%)     1
610003 (41.0%)     1
                  ..
838150 (69.4%)     1
611143 (46.8%)     1
930521 (72.2%)     1
624896 (56.7%)     1
1021137 (75.1%)    1
Name: count, Length: 543, dtype: int64

##### We sometimes had to split the data and create new columns

In [ ]:
t2[['votes_polled', 'votes_polled_percentage']] = t2['votes_polled'].str.split(' ', n = 1, expand = True)

In [ ]:
t2['votes_polled'].value_counts()

votes_polled
Margin:    5
616741     2
474770     2
378143     2
759887     2
          ..
584719     1
380736     1
692830     1
580382     1
663001     1
Name: count, Length: 4824, dtype: int64